

<div style="display: flex;">

  <div class="TodoBody">

    <div class="todoinner">
  
    <input type="text" [(ngModel)]="activity">
    </div>
    <button  (click)="addToList()" class="addButton">Add List</button>
  </div>

  <div class="contactList">
    <div class="iop">

      <div *ngFor="let eachoption of list;let j = index">
        <div class="content">
         <span> <input type="checkbox" class="contentElement" (change)="removeList(j,eachoption)">{{j+1}} {{eachoption}}</span>
        </div>
        
      </div>
  
    </div>
  </div>
</div>

















<router-outlet></router-outlet>